<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="styles/bootstrap.min.css"></link>
    </head>
    <body>
        <h1>Prueba de app</h1>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand">PRUEBA DE POSTULACIÓN</a>
        </nav>